<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.example"
    version   = "1.0.0">

<name>Calculadora de ejemplo</name>

<description>
Una simple aplicacion de ejemplo.
</description>

<author href="www.sirac.net" email="sirac@hotmail.com">
Heriberto Figueroa
</author>

</widget>
